body {
    color: black;
    font-family: sans-serif;
}

.conteinererror {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2em;
    text-align: center;
    animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

p {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #292929;
    color: white;
    text-decoration: none;
    margin: 0 0 0 40rem;
    font-size: 1.2em;
    border-radius: 50px;
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-10px);
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 3em;
    }
    p {
        font-size: 0.8em;
    }
    a {
        font-size: 1em;
    }
}